<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Login Page</display-name>
  <welcome-file-list>
    <welcome-file>adminDashboard</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminIndexServlet</servlet-name>
    <servlet-class>Controllers.AdminIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexServlet</servlet-name>
    <url-pattern>/AdminDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDoctorServlet</display-name>
    <servlet-name>AddDoctorServlet</servlet-name>
    <servlet-class>Controllers.AddDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctorServlet</servlet-name>
    <url-pattern>/AddDoctorServlet</url-pattern>
  </servlet-mapping>
</web-app>