<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Login Page</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <error-page>
    <location>/Admin/Error404.jsp</location>
  </error-page>
    <servlet-name>AdminIndexServlet</servlet-name>
    <servlet-class>Controllers.AdminIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexServlet</servlet-name>
    <url-pattern>/AdminDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDoctorServlet</display-name>
    <servlet-name>AddDoctorServlet</servlet-name>
    <servlet-class>Controllers.AddDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctorServlet</servlet-name>
    <url-pattern>/AddDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientRegister</display-name>
    <servlet-name>PatientRegister</servlet-name>
    <servlet-class>Controllers.PatientRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegister</servlet-name>
    <url-pattern>/PatientRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>notInGit.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorRegister</display-name>
    <servlet-name>DoctorRegister</servlet-name>
    <servlet-class>Controllers.DoctorRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorRegister</servlet-name>
    <url-pattern>/DoctorRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Controllers.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Controllers.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllDoctorsServlet</display-name>
    <servlet-name>AllDoctorsServlet</servlet-name>
    <servlet-class>Controllers.AllDoctorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllDoctorsServlet</servlet-name>
    <url-pattern>/AllDoctorsServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>TrashDoctorServlet</display-name>
    <servlet-name>TrashDoctorServlet</servlet-name>
    <servlet-class>Controllers.TrashDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrashDoctorServlet</servlet-name>
    <url-pattern>/TrashDoctorServlet</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>